/* HTML */

body {
    font-family: Montserrat;
}

h1,
h2,
h3,
h4 {
    font-family: Montserrat;
    font-weight: 750;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: 850;
    font-size: 1.192rem;
}

p {
    color: #8f8f8f;
}

.about {
    text-align: center;
}

.about:hover {
    color: #ff4c68;
}

.skill-row {
    width: 50%;
    margin: 100px auto 80px auto;
    text-align: left;
}

.code-img {
    width: 40%;
    float: right;
    padding-left: 20px;
}

.study-img {
    float: left;
    width: 40%;
    padding-right: 20px;
}

.para {
    padding-right: 20px;
}


/* TITLE */

#title {
    background-color: #ff4c68;
}

#title-page {
    background-color: #ff4c68;
    color: #fff;
    padding-bottom: 6rem;
}

#contact-us {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.container-fluid1 {
    padding: 2% 5% 1%;
}

.web-para {
    font-size: 4.2rem;
    font-family: 'Sacramento', cursive;
    line-height: 1.5;
    font-weight: 850;
}

.tagline {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: right;
}

.contact-para {
    font-size: 2.8rem;
    font-family: Montserrat;
    font-weight: 850;
}

.conth1 {
    font-size: 2rem;
}

.contacth2 {
    font-size: 1rem;
    padding-left: 5%;
}

.contactul {
    font-family: Montserrat;
    color: 8f8f8f;
    font-size: 1rem;
    padding-left: 5%;
}

#location {
    padding-top: 4rem;
    background-color: #fff;
    text-align: center;
}

.location-h2 {
    color: #ff4c68;
    padding-top: 2rem;
}

.contactul1 {
    font-family: Montserrat;
    color: 8f8f8f;
    font-size: 1rem;
    padding-bottom: 3rem;
}

.address {
    color: #ff4c68;
    font-size: 1.5rem;
    padding-top: 2rem;
    font-family: Montserrat;
    font-weight: bold;
}

.address1 {
    color: #ff4c68;
    font-size: 1rem;
    font-family: Montserrat;
    font-weight: bold;
    padding-bottom: 2rem;
}


/* Iphone image */

.title-img {
    width: 85%;
    padding-left: 30%;
    transform: rotate(5deg);
    position: absolute;
    border-radius: 100%;
}


/* Navigation Bar */

.navbar {
    padding: 0.5rem 0 4.5rem 1.5rem;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.6rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: Montserrat;
    font-weight: 400;
}


/* Download buttons */

.download {
    margin: 5% 3% 5% 0;
}


/* Feature */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 6%;
}

.icon {
    margin-bottom: 1rem;
    color: #ef8172;
}

.icon:hover {
    color: #ff4c68;
}


/* Testimonial Section */

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

.testimonial-dog {
    border-radius: 100%;
    width: 20%;
    margin: 25px;
}

.carousel-item {
    padding: 7% 14%;
}


/* Press */

#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}


/* CTA */

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    color: #fff;
    text-align: center;
}

.cta-text {
    font-size: 3rem;
    font-family: Montserrat;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
}

.download-cta {
    margin: 5% 3% 5% 0;
}


/* Footer */

#contact-cont {
    background-color: #fff;
    text-align: center;
}

.contact-cont1 {
    padding: 4% 15%;
    color: #ff4c68;
}

.copy {
    text-align: center;
    color: #fff;
    padding-top: 2rem;
}


/* Media Query */

@media (max-width:992px) {
    #title-page {
        text-align: center;
    }
    .title-img {
        position: static;
        transform: rotate(0);
        margin-right: 50%;
        width: 450px;
    }
}


/*timeline */

* {
    box-sizing: border-box;
    padding-bottom: 2rem;
}


/* Set a background color */

body {
    background-color: #ff4c68;
    font-family: Helvetica, sans-serif;
}


/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


/* Container around content */

.container {
    position: relative;
    background-color: inherit;
    width: 50%;
}


/* The circles on the timeline */

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the container to the left */

.left {
    right: 305px;
}


/* Place the container to the right */

.right {
    left: 305px;
}


/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}


/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}


/* The actual content */

#id {
    background-color: #ff4c68;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}